<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
<footer>
  <div class="foot-panel2">
    <ul>
      <p>Get To Know Us</p>
      <a>Careers</a>
      <a>Blog</a>
      <a>About VKS</a>
      <a>Investor Relations</a>
    </ul>
    <ul>
      <p>Address:</p>
      <a>Shop no.:2, Sai Sharan, </a>
      <a>Khanda Colony, New Panvel</a>
      <a></a>
      <a>Contact Us:</a>
      <a>Mobile no: 8879345195</a>
      <a>WhatsApp no: 8879345195</a>
    </ul>
    <ul>
      <p>Email id:</p>
      <a>vikaskiranastores07@gmail.com</a>
      <a>Blog</a>
      <a>About VKS</a>
      <a>Investor Relations</a>
    </ul>
  </div>
  <div class="foot-panel4">
    <div class="footer-content">
      <div class="logos"></div>
      <div class="pages">
        <a>Condition Of Use</a>
        <a>Privacy Notice</a>
        <a>Your Ads Privacy Choices</a>
      </div>
    </div>
    <div class="copyright">
      © 1999-2024, vikaskiranastores.com, Inc. or its affiliates
    </div>
  </div>
</footer>
